/* @import '~antd/dist/antd.css'; */

.Fylo-main-layout .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.Fylo-main-layout {
  background-color:  hsl(217, 28%, 15%);
  color: white;
  
}


.fylo-1,.fylo-3{
  position: relative;
 
}
.fylo-2 {
  position: absolute;
  z-index: 3;
  margin-top: -12em;
  /* margin-left: 5em;
  margin-right: 5em; */
}
@media only screen and (max-width: 600px) {
  .fylo-2 {
    margin-top: -10em;
  }
}