.fylo-fouricons-main {
    background-color: hsl(218, 28%, 13%);
    z-index: 0;
    padding: 2em  6em 2em 6em;
   
}
.fylo-fouricons-main .row {
    margin-right: 0;
}
.fylo-four-sub {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-left:5.5em ;
    padding-right: 5.5em;
    font-size: .95em;
    
}
.fylo-four-head {
    padding-top: 1.3em;
}
.second {
    margin-top: 5em;
    z-index: 100001;
}
@media only screen and (max-width: 600px) {
    .fylo-four-sub {
        padding-left: 1em;
        padding-right: 1em;
    }
    .second {
        margin-top: 8em;
    }
    .fylo-fouricons-main{
        padding:2em  2em 2em 2em ;
    }
    .fylo-fouricons-main .col-12 {
        padding-left: 0em;
        padding-right: 0em;
    }
}
