 .quotes-col {
    background-color: hsl(219, 30%, 18%);
    margin: 1em;
    margin-left: 1.5em;
    padding-top: 2.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 2em;
         
    border-radius: 5px;
    /* -moz-box-shadow:    3px 3px 5px 6px hsl(217, 28%, 15%);
    -webkit-box-shadow: 3px 3px 5px 6px hsl(217, 28%, 15%); */
    box-shadow:         3px 3px 0px 5px hsl(217, 28%, 15%);



}

.quote-profile {
    border-radius: 5em;
    
} 
.avatar {
    vertical-align: middle;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
}


.quotes-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: .85em;
}

.quotes-main-layout {

    background-color: hsl(218, 28%, 13%);
    padding: 3em 6em 20em 6em;

}
.quotes-main-layout .quotes-row {
    margin-right: 0em;
    background-image: url('../Components/Images/bg-quotes.png');
    background-position: top left ;
    background-repeat: no-repeat;
    margin-top: 2em;
}
.quote-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: .85em;
}
.quote-pos {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .5em;
}
.quote-foot .col{
    padding-left: 5em;
}
.quote-foot .col-sm-5{
    padding-left: 0em;
    padding-bottom: 1em;
}
.quote-name {
    margin-bottom: 0em;
}

@media only screen and (max-width: 600px) {
    .quotes-main-layout {
        padding: 5em 2em 20em 1em;
        
    }
}